<!-- <div id='bubble-spacer' class='visible-xs adjust-bubble-height col-xs-12'></div> -->
<div class='user-plate-container home-plate'>
  <% @sampled_users.length.times do |i| %>
    <div id="content-<%= i + 1 %>" class='sampled-users-container'>
      <div id='bubble-images-container-block' class='visible-xs col-xs-12'>
        <div id='bubble-images-container-flex' class='col-xs-12'>
          <div id='centered-div' class='col-xs-8'>
            <div id='left-img-container'>
              <%= avatar_img = @sampled_users[i].avatar.present? ?
                image_tag(@sampled_users[i].avatar.url(:square), id: 'avatar-img-mobile') :
                image_tag("https://d2m6u6shu0evoe.cloudfront.net/users/avatars/Gametiks_Gamercard.jpg", id: 'avatar-img-mobile') %>
            </div>
            <div id='right-img-container'>
              <% level = level(@sampled_users[i]) %>
              <%= image_tag "https://d2m6u6shu0evoe.cloudfront.net/images/badges/lev_#{level}.png", id: 'level-badge-mobile' %>
            </div>
          </div>
        </div>
      </div>
      <div class='user-plate col-xs-12 col-sm-10 col-md-9 col-lg-8'>
        <div id='avatar' class='hidden-xs'>
          <%= avatar_img %>
        </div>

        <!-- Middle Section -->
        <div id='user-info' class='col-xs-12 col-sm-8 col-md-6 col-lg-5'>
          <div id='name-container' class='ribbon-container'>
            <div class='ribbon'>
              <h2 class='ribbon-content'>
                <a href='/users/<%= @sampled_users[i].id %>'>
                  <%= @sampled_users[i].name.upcase %>
                </a>
              </h2>
            </div>
          </div>
          <div id='user-sub-info'>
            <h5 id='activated'>Active: <%= @sampled_users[i].created_at %></h5>
            <% @sampled_users[i].save_points %>
            <h4><span class='stats-label'>Member Points: </span><span class='field'><%= @sampled_users[i].formatted_points %></span></h4>
            <h4><span class='stats-label'>Member Rank: </span><span class='field'><%= rank(@sampled_users[i]) %></span></h4>
            <h4><span class='stats-label'>Common Weapon: </span><span class='field'><%= favorite_weapon(@sampled_users[i]) %></span></h4>
            <h4><span class='stats-label'>Common Game: </span><span class='field'><%= favorite_animal(@sampled_users[i]) %></span></h4>
          </div>

          <div class='btn-container'>
            <div class='btn-panel'>
              <% if !current_user %>
                    <%= link_to 'SIGN UP', new_user_registration_url  %>
              <% end %>

              <% if current_user && current_user == @sampled_users[i] %>
                    <%= link_to 'UPLOAD HARVEST', new_harvest_path %>
              <% end %>

              <% if current_user && (current_user != @sampled_users[i]) && (!current_user.contacts.include?(@sampled_users[i])) %>
                  <form class="new_user_contact" id="new_user_contact" enctype="multipart/form-data"
                    action="/user_contacts" accept-charset="UTF-8" method="post">
                    <input name="utf8" type="hidden" value="&#x2713;" />
                    <input type='hidden' name='user_contact[contact_id]' value='<%= @sampled_users[i].id %>' />
                    <input name="authenticity_token" value="<%= form_authenticity_token %>"
                      type="hidden">
                    <input id='add-contact' type='submit' value='ADD TO CONTACTS'/>
                  </form>
              <% end %>

              <% if current_user && current_user.contacts.include?(@sampled_users[i]) %>
                    <h3>Added <i class="fa fa-check-circle-o" aria-hidden="true"></i></h3>
              <% end %>
            </div>
          </div>
        </div>

        <div id='user-level' class='hidden-xs'>
          <% level = level(@sampled_users[i]) %>
          <%= image_tag "https://d2m6u6shu0evoe.cloudfront.net/images/badges/lev_#{level}.png", id: 'level-badge' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
$( document ).ready(function() {
  var divs = $('div[id^="content-"]').hide(),
      i = 0;

  (function cycle() {
      divs.eq(i).fadeIn(400)
                .delay(5000)
                .fadeOut(400, cycle);

      i = ++i % divs.length; // increment i,
                             //   and reset to 0 when it equals divs.length
  })();
});
</script>
