<div class="media">
  <div class="media-left">
    <% @sender = conversation.originator %>
    <a href="/users/<%= @sender.id %>">
      <%= @sender.avatar.present? ?
        image_tag(@sender.avatar.url(:square), id: 'avatar-img', class: 'media-object') :
        image_tag("https://d2m6u6shu0evoe.cloudfront.net/users/avatars/Gametiks_Gamercard.jpg", class: 'media-object') %>
    </a>
    <% if !conversation.is_trashed?(current_user) %>
      <a href="/conversations/<%= conversation.id %>"
        class="view-message-btn"
        id="<%= conversation.is_read?(current_user) ? 'read' : 'unread' %>" >
        VIEW
      </a>
    <% end %>
    <% if conversation.is_trashed?(current_user) %>
        <%= link_to 'RESCUE', untrash_conversation_path(conversation), class: 'untrash-btn', method: :post %>
    <% else %>
        <%= link_to trash_conversation_path(conversation), class: 'trash-btn', method: :post,
            data: {confirm: 'Are you sure?'} do %>
              <i class="fa fa-trash-o"></i>
            <% end %>
    <% end %>
  </div>
  <div>

  </div>
  <div class="media-body">
    <div class="media-heading">
      <h4><%= @sender.name %><small> <%=  conversation.messages.last.created_at.strftime("%A, %b %d, %Y") %></small></h4>
      <span class='subheader'><%= conversation.subject %></span>
    </div>

    <div class='truncated-body'>
      <%= truncate conversation.messages.last.body, length: 145 %>
    </div>

  </div>
</div>
