<% @receipts.each do |receipt| %>
    <% message = receipt.message %>
    <div class="media">
      <div class="media-left">
        <% @sender = message.sender %>
        <a href="/users/<%= @sender.id %>">
          <%= @sender.avatar.present? ?
            image_tag(@sender.avatar.url(:square), id: 'avatar-img', class: 'media-object') :
            image_tag("https://s3.amazonaws.com/gametiks/users/avatars/Gametiks_Gamercard.jpg", class: 'media-object') %>
        </a>
      </div>
      <div class="media-body">
        <div class="media-heading">
          <h4><%= @sender.name %><small> <%=  conversation.messages.last.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small></h4>
          <span class='subheader'><%= conversation.subject %></span>
        </div>
        </h4>
        <div class='full-body'>
          <%= message.body %>
        </div>
      </div>
    </div>
<% end %>
