<article class='log' id='log-<%= harvest.id %>'>
  <%= image_tag harvest.image.url(:square), class: 'harvest-img'%>
  <div class='img-infoscreen'>
    <div id='text-wrapper'>
      <% if @user == current_user %>
      <div class='links'>
        <%= link_to 'Edit', edit_harvest_path(harvest) %>
        <%= link_to "Delete", harvest_path(harvest), method: :delete, data: { confirm: 'Confirm Delete?' } %>
      </div>
      <% end %>
      <h4><span class='stats-label'>Date Harvested: </span>
        <span class='field'>
          <% if harvest.date != nil %>
            <%= harvest.date.strftime('%d %b %Y') %>
          <% else  %>
            <%= harvest.created_at.strftime('%d %b %Y') %>
          <% end %>
        </span>
      </h4>
      <h4><span class='stats-label'>Game Type: </span><span class='field'><%= harvest.animal_type == 'water_fowl' ? 'waterfowl' : harvest.animal_type %></span></h4>
      <h4><span class='stats-label'>Weapon Used: </span><span class='field'><%= harvest.weapon_type %></span></h4>
      <h4><span class='stats-label'>Points Awarded: </span><span class='field'><%= harvest.formatted_points %></span></h4>
      <h4><span class='stats-label'>Weight: </span><span class='field'><%= formatted_weight(harvest.weight) %></span></h4>
      <h4><span class='stats-label'>Credits: </span><span class='field' id='credit-count'><%= harvest.credits.length %></span></h4>
      <% if @user != current_user %>
        <div class='creditor' id='creditor-<%= harvest.id %>'>
          <% if harvest.credits.any? { |credit| credit.user == current_user } %>
            <img id='coin' src='https://d2m6u6shu0evoe.cloudfront.net/images/coin.png' />
          <% else %>
            <%= button_to "Credit", credit_path(harvest_id: harvest.id), data: { disable_with: "" }, remote: true %>
          <% end %>
        </div>
      <% end %>
      <% if !harvest.description.blank? %>
        <p>
          <%= harvest.description %>
        </p>
      <% end %>
    </div>
  </div>

  <div class='comments-container'>
    <ul id='comments-list-<%= harvest.id %>'>
     <% harvest.comments.each do |comment| %>
      <%= render 'comments/comment', comment: comment %>
     <% end %>
    </ul>
  </div>
  <%= form_for [harvest, harvest.comments.new], :remote => true do |f| %>
    <%= f.label :body, "New Comment" %>
    <%= f.text_area :body %>
    <p><%= f.submit "Add Comment"%></p>
  <% end %>
</article>
