<div class='container-fluid'>
  <div class='row'>
    <div id='logbook-container'>
      <div id='logbook-header'>
        <div id='left'></div>
        <div id='center' class='col-lg-8 col-md-9 col-sm-10 max-width-1000'></div>
        <div id='right'></div>
      </div>
      <div id='title-container'>
        <div id='button-left-container'><div id='button-left'><%= sortable "created_at", "NEWEST" %></div></div>
        <div id='triangle-left'></div>
        <div id='triangle-right'></div>
        <div id='title'>
        <div id='button-right-container'><div id='button-right'><%= sortable "created_at", "OLDEST" %></div></div>
          <h3>
            LOGBOOK
          </h3>
        </div>
      </div>
      <div id='logbook'>
        <div id="columns">
        <% @harvests.each do |harvest| %>
          <div class='log'>
            <%= image_tag harvest.image.url(:thumb) %>
            <h5><%= harvest.created_at %></h5>
            <% if @user == current_user %>
              <div class='links'>
                <%= link_to 'Edit', edit_harvest_path(harvest) %>
                <%= link_to "Delete", harvest_path(harvest), method: :delete, data: { confirm: 'Confirm Delete?' } %>
              </div>
            <% end %>
            <hr>
            <p><%= harvest.description %></p>
            <hr>
            <div class='stamps-container'>
              <div class='stamp'>
                <%= image_tag("https://s3.amazonaws.com/gametiks/images/#{harvest.weapon_type}_black.png") %>
              </div>
              <div class='stamp'>
                <%= image_tag("https://s3.amazonaws.com/gametiks/images/#{harvest.animal_type}_black.png") %>
              </div>
            </div>
            <div class='comments-container'>
              <ul id='comments-list-<%= harvest.id %>'>
               <% harvest.comments.each do |comment| %>
                <li class='comment'>
                  <div class='author-img-container'><%= comment.user.avatar.present? ?
                    image_tag(comment.user.avatar.url(:square), class: 'comment-author-img') :
                    image_tag("https://s3.amazonaws.com/gametiks/users/avatars/Gametiks_Gamercard.jpg", class: 'comment-author-img') %>
                  </div>
                  <div class='author-name'><%= link_to comment.user.name.upcase, comment.user %></div>
                  <div><%= comment.body %></div>
                </li>
               <% end %>
              </ul>
            </div>
            <%= form_for [harvest, harvest.comments.new], :remote => true do |f| %>
              <%= f.label :body, "New Comment" %>
              <%= f.text_area :body %>
              <p><%= f.submit "Add Comment"%></p>
            <% end %>
          </div>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- <script>
var userId = gon.userId;
$('#shareBtn').click(function(event) {
  // var image_url = event.target.children.img.innerText.replace(/\s/g, '');
  FB.ui({
    method: 'share',
    display: 'popup',
    // picture: `${image_url}`,
    href: `https://localhost:3000/users/${userId}`,
  }, function(response){});
});

$( document ).ready(function() {
  $('#shareBtn').click();
})

</script> -->
