<div id='bubble-images-container-block' class='visible-xs col-xs-12 red-outline'>
  <div id='bubble-images-container-flex' class='col-xs-12'>
    <div id='centered-div' class='col-xs-8 red-outline'>
      <div id='left-img-container'>
        <%= avatar_img = @user.avatar.present? ?
          image_tag(@user.avatar.url(:square), id: 'avatar-img-mobile') :
          image_tag("https://s3.amazonaws.com/gametiks/users/avatars/Gametiks_Gamercard.jpg", id: 'avatar-img-mobile') %>
      </div>
      <div id='right-img-container'>
        <% level = level(@user) %>
        <%= image_tag "https://s3.amazonaws.com/gametiks/images/badges/lev_#{level}.png", id: 'level-badge-mobile' %>
      </div>
    </div>
  </div>
</div>

<div class='user-plate col-xs-12 col-sm-10 col-md-9 col-lg-8' >
    <div id='avatar' class='hidden-xs'>
      <% if @user == current_user %>
        <button id='rollover-uploader' onclick="document.getElementById('user-avatar').click();">
          <i class="fa fa fa-arrow-up fa-5x" aria-hidden="true"></i>
          <h3>REPLACE</h3>
          <form class="edit_user" id="edit_user_<%= current_user.id %>" enctype="multipart/form-data"
            action="/users/<%= current_user.id %>" accept-charset="UTF-8" data-remote="true" method="post">
            <input name="utf8" type="hidden" value="&#x2713;" />
            <input type="hidden" name="_method" value="patch" />
            <input name="authenticity_token" value="<%= form_authenticity_token %>"
              type="hidden">
            <div id="upload-wrap">
              <input id="user-avatar" type="file" name="user[avatar]" />
            </div>
          </form>
        </button>
      <% end %>
      <%= @user.avatar.present? ?
        image_tag(@user.avatar.url(:square), id: 'avatar-img') :
        image_tag("https://s3.amazonaws.com/gametiks/users/avatars/Gametiks_Gamercard.jpg") %>
    </div>

    <div id='user-info' class='col-xs-12 col-md-6 col-lg-5'>
      <div id='name-container' class='ribbon-container'>
        <div class='ribbon'>
          <h2 class='ribbon-content'>
            <%= @user.name.upcase %>
          </h2>
        </div>
      </div>
      <div id='user-sub-info'>
        <h5 id='activated'>Active: <%= @user.created_at %></h5>
        <% @user.save_points %>
        <h4><span class='label'>Member Points: </span><span class='field'><%= @user.formatted_points %></span></h4>
        <h4><span class='label'>Member Rank: </span><span class='field'><%= rank(@user) %></span></h4>
        <h4><span class='label'>Common Weapon: </span><span class='field'><%= favorite_weapon(@user) %></span></h4>
        <h4><span class='label'>Common Game: </span><span class='field'><%= favorite_animal(@user) %></span></h4>
      </div>

      <% if current_user == @user %>
        <div class='btn-container'>
            <div class='btn-panel'>
                <%= link_to 'UPLOAD HARVEST', new_harvest_path %>
            </div>
        </div>
      <% end %>

      <% if current_user != @user && !current_user.contacts.include?(@user)%>
        <div class='btn-container'>
          <div class='btn-panel'>
            <form class="new_user_contact" id="new_user_contact" enctype="multipart/form-data"
              action="/user_contacts" accept-charset="UTF-8" method="post">
              <input name="utf8" type="hidden" value="&#x2713;" />
              <input type='hidden' name='user_contact[contact_id]' value='<%= @user.id %>' />
              <input name="authenticity_token" value="<%= form_authenticity_token %>"
                type="hidden">
              <input id='add-contact' type='submit' value='ADD TO CONTACTS'/>
            </form>
          </div>
        </div>
      <% end %>

      <% if current_user.contacts.include?(@user) %>
        <div class='btn-container'>
          <div class='btn-panel'>
            <h3>Added <i class="fa fa-check-circle-o" aria-hidden="true"></i></h3>
          </div>
        </div>
      <% end %>
    </div>

    <div id='user-level' class='hidden-xs'>
      <% level = level(@user) %>
      <%= image_tag "https://s3.amazonaws.com/gametiks/images/badges/lev_#{level}.png", id: 'level-badge' %>
    </div>
</div>
