
<div id='side-panel'>
  <%= render partial: "contacts" %>
  <%#= render partial: "messagebox" %>
  <%= render partial: "conversationbox" %>
</div>

<div class='container-fluid background-main fixed-height'>
  <div class="row">
    <div class='user-plate-container'>
      <%= render partial: "flashbox" %>
      <%= render partial: "user_plate" %>
    </div>
  </div>

  <div class='row'>
    <div id='styled-separator-container-top'>
      <div id='left'></div>
      <div id='center'>
        <nav id='user-records'>
          <ul>
            <li id='map-tab'>
              MAP
              <div class='square'></div>
            </li>
            <li id='tiks-tab'>
              TIKS
            </li>
            <li id='badges-tab'>
              BADGES
              <div class='square'></div>
            </li>
          </ul>
        </nav>
      </div>
      <div id='right'></div>
    </div>
  </div>
  <div id='switchable-window'>
    <%= render partial: "harvest_inspector" %>
    <div class='row'>
      <%= render partial: "maps/user_map" %>
      <%= render partial: "tiks" %>
      <%= render partial: "badges" %>
    </div>
  </div>

</div>
<%= render partial: "logbook" %>

<script>
  var userId = gon.userId;

  $(document).ready(function() {

    // auto load windows
    $('#map-tab').click(function(){
      $("#user-map-container").css("left", "0");
      $("#tiks-container").css("left", "100%");
      $("#badges-container").css("left", "200%");
    });

    $("#tiks-tab").click(function(){
      $("#user-map-container").css("left", "-100%");
      $("#tiks-container").css("left", "0");
      $("#badges-container").css("left", "100%");
    });

    $("#badges-tab").click(function(){
      $("#user-map-container").css("left", "-200%");
      $("#tiks-container").css("left", "-100%");
      $("#badges-container").css("left", "0");
    })

    var avatarForm = document.getElementById(`edit_user_${userId}`);

    $(avatarForm).change(function(){
      $("#avatar").append("<i class='fa fa-spinner fa-pulse fa-5x fa-fw middle-middle'></i>");
      avatarForm.submit();
    });

    // display messages if any
    var innerHTML = $('#flashbox').html();
    var iconOnly = '<i class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i>';
    if ( innerHTML.trim() !== iconOnly ) {
      $( "#flashbox-container" ).animate({
        left: '+=192px'
      }, 100);
      setTimeout(retract, 2000);
    };

    function retract(){
      $( "#flashbox-container" ).animate({
        left: '-=192px'
      }, 100);
    };

    // toggle message box
    $('flashbox-label').click(function() {
      $('#flashbox-container').toggleClass('flashbox-active');
    });

    $('#flashbox-handle').click(function() {
      $('#flashbox-container').toggleClass('flashbox-active');
    });

    $('#contacts-handle').click(function() {
      $('#contacts-container').toggleClass('contacts-active');
    });

    $('#messagebox-handle').click(function() {
      $('#messagebox-container').toggleClass('messagebox-active');
    })

    $('#contacts-header').click(function() {
      $('#contacts-container').toggleClass('contacts-active');
    })

    $('#messages-header').click(function() {
      $('#messagebox-container').toggleClass('messagebox-active');
    })

    $('.contact').hover(function() {
      $( this ).css('padding-left', '16px');
      $( this ).children(":first").css('opacity', 1);
    }, function() {
      $( this ).css('padding-left', '10px');
      $( this ).children(":first").css('opacity', 0);
    });
  });

</script>


          <!-- <h4>

          </h4>
      </section>
      <section>
        <div class="badges"><h3>BADGES</h3>
            <% @user.clear_all_badges %>
          <ul><% @user.load_badges %>
              <% @user.badges.each do |badge| %>
              <li><%= image_tag badge.image %></li>
              <% end %>
          </ul>
        </div>
      </section>
    </aside>
    <br>

  </div> -->
