<!-- <div class='container-fluid upper-shadow'></div> -->
<div class='container-fluid background-main'>
  <%#= provide(:title, @user.name) %>
  <div class="row">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <div class='user-plate-container'>
      <div class='user-plate'>
        <div id='avatar'>
          <div id='corner-pieces-container'>
            <div id='upper-left'></div>
            <div id='upper-right'></div>
            <div id='lower-left'></div>
            <div id='lower-right'></div>
          </div>

          <% if @user == current_user %>
            <button id='rollover-uploader' onclick="document.getElementById('user-avatar').click();">
              <i class="fa fa fa-arrow-circle-o-up fa-5x" aria-hidden="true"></i>
              <h3>REPLACE</h3>
              <!-- hidden form  -->
              <%= form_for @user do |f| %>
                <div id="upload-wrap">
                  <%= f.file_field :avatar, id: 'user-avatar' %>
                </div>
              <% end %>
            </button>
          <% end %>

          <%= @user.avatar.present? ? image_tag(@user.avatar.url(:square)) : image_tag("https://s3.amazonaws.com/gametiks/users/avatars/Gametiks_Gamercard.jpg") %>
        </div>

        <div id='user-info'>
          <div id='name-container'>
            <h2>
              <%= @user.name.upcase %>
              <% if @user.admin %>
              <%= '(Admin)' %>
              <% end %>
            </h2>
            <div id='square-additive'></div>
          </div>
          <div id='user-sub-info'>
            <h5 id='activated'>Activated: <%= @user.created_at %></h5>
            <h4>User Points: <span class='field'><%= @user.formatted_points %></span></h4>
            <h4>User Rank: <span class='field'><%= rank(@user) %></span></h4>
            <h4>Choice Weapon: <span class='field'><%= favorite_weapon(@user) %></span></h4>
            <h4>Choice Game Type: <span class='field'><%= favorite_animal(@user) %></span></h4>
          </div>
          <% if current_user == @user %>
            <div id='upload-btn-container'>
              <div id='btn-panel'>
                  <%= link_to 'UPLOAD HARVEST', new_harvest_path %>
              </div>
            </div>
          <% end %>
        </div>
        <div id='user-level'>
          <img src='https://s3.amazonaws.com/gametiks/images/badges/lev_00.png' id='level-badge'/>
        </div>
      </div>
    </div>
  </div>

  <%= render 'maps/user_map.erb' %>

</div>

<script>
  var userId = gon.userId;

  $(document).ready(function() {
    var avatarForm = document.getElementById(`edit_user_${userId}`);
    avatarForm.onchange = function() {
      avatarForm.submit();
    };

    $(avatarForm).on("submit", function(event) {
      $.ajax({
        url: $(this).attr('action'),
        data: $(this).serialize(),
        type: "POST"
      });
      event.preventDefault();
    });
  });

</script>


          <h4>

          </h4>
      </section>
      <section>
        <div class="badges"><h3>BADGES</h3>
            <% @user.clear_all_badges %>
          <ul><% @user.load_badges %>
              <% @user.badges.each do |badge| %>
              <li><%= image_tag badge.image %></li>
              <% end %>
          </ul>
        </div>
      </section>
    </aside>
    <% render 'maps/user_map.erb' %>
    <br>
    <section class="col-md-8 harvest-catalog">
      <% @user.harvests.order('created_at DESC').each do |harvest| %>
        <table class="harvest_block">
          <tr>
          <td>
            <%= image_tag harvest.image.url(:thumb) %>
          </td>
          <td class="harvest_data">
            <%= harvest.animal_type %> registered on <%= harvest.created_at %><br>
            Weapon Used: <%= harvest.weapon_type %><br>
            Description: <%= harvest.description %><br>
            Weight: <%= harvest.weight %> lbs
          </td>
          <td class="harvest_category">
            <% if harvest.animal_type == "moose" %><%= image_tag("https://s3.amazonaws.com/gametiks/images/moose.png") %>
            <% elsif harvest.animal_type == "bear" %><%= image_tag("https://s3.amazonaws.com/gametiks/images/bear.png") %>
            <% elsif harvest.animal_type == "deer" %><%= image_tag("https://s3.amazonaws.com/gametiks/images/deer.png") %>
            <% elsif harvest.animal_type == "turkey" %><%= image_tag("https://s3.amazonaws.com/gametiks/images/turkey.png") %>
            <% end %>
          </td>
          </tr>
        </table>
      <% end %>
    </section>
  </div>
