<!-- <div class='container-fluid upper-shadow'></div> -->
<div class='container-fluid background-main fixed-height'>
  <%#= provide(:title, @user.name) %>
  <div class="row">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <div class='user-plate-container'>
      <div class='user-plate'>
        <div id='avatar'>
          <div id='corner-pieces-container'>
            <div id='upper-left'></div>
            <div id='upper-right'></div>
            <div id='lower-left'></div>
            <div id='lower-right'></div>
          </div>

          <% if @user == current_user %>
            <button id='rollover-uploader' onclick="document.getElementById('user-avatar').click();">
              <i class="fa fa fa-arrow-circle-o-up fa-5x" aria-hidden="true"></i>
              <h3>REPLACE</h3>
            <!-- hidden form -->
              <%= form_for @user do |f| %>
                <div id="upload-wrap">
                  <%= f.file_field :avatar, id: 'user-avatar' %>
                </div>
              <% end %>
            </button>
          <% end %>

          <%= @user.avatar.present? ? image_tag(@user.avatar.url(:square), id: 'avatar-img') : image_tag("https://s3.amazonaws.com/gametiks/users/avatars/Gametiks_Gamercard.jpg") %>
        </div>

        <div id='user-info'>
          <div id='name-container'>
            <h2>
              <%= @user.name.upcase %>
            </h2>
            <div id='square-additive'></div>
          </div>
          <div id='user-sub-info'>
            <h5 id='activated'>Activated: <%= @user.created_at %></h5>
            <h4>User Points: <span class='field'><%= @user.formatted_points %></span></h4>
            <h4>User Rank: <span class='field'><%= rank(@user) %></span></h4>
            <h4>Choice Weapon: <span class='field'><%= favorite_weapon(@user) %></span></h4>
            <h4>Choice Game Type: <span class='field'><%= favorite_animal(@user) %></span></h4>
          </div>
          <% if current_user == @user %>
            <div id='upload-btn-container'>
              <div id='btn-panel'>
                  <%= link_to 'UPLOAD HARVEST', new_harvest_path %>
              </div>
            </div>
          <% end %>
        </div>
        <div id='user-level'>
          <img src='https://s3.amazonaws.com/gametiks/images/badges/lev_00.png' id='level-badge'/>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div id='styled-separator-container-top'>
      <div id='left'></div>
      <div id='center'>
        <nav id='user-records'>
          <ul>
            <li id='map-tab'>
              MAP
              <div class='square'></div>
            </li>
            <li id='tiks-tab'>
              TIKS
            </li>
            <li id='badges-tab'>
              BADGES
              <div class='square'></div>
            </li>
          </ul>
        </nav>
      </div>
      <div id='right'></div>
    </div>
  </div>
  <div id='switchable-window'>
    <div class='row'>
      <%= render partial: "maps/user_map" %>
      <%= render partial: "tiks" %>
      <%= render partial: "badges" %>
    </div>
  </div>

</div>
<div class='container-fluid'>
  <div class='row'>
    <div id='logbook-container'>
      <div id='styled-separator-container-bottom'>
        <div id='left'></div>
        <div id='center'></div>
        <div id='right'></div>
      </div>
      <div id='title-container'>
        <div id='square-left'></div>
        <div id='square-right'></div>
        <div id='title'>
          <h3>
            LOGBOOK
          </h3>
        </div>
      </div>
      <div id='logbook'>
        <% @user.harvests.order('created_at DESC').each do |harvest| %>
        <div class='log'>
          <%= image_tag harvest.image.url(:thumb) %>
          <h5><%= harvest.created_at %></h5>
          <hr>
          <p><%= harvest.description %></p>
          <hr>
          <div class='stamps-container'>
            <div class='stamp'>
              <%= image_tag("https://s3.amazonaws.com/gametiks/images/#{harvest.weapon_type}_black.png") %>
            </div>
            <div class='stamp'>
              <%= image_tag("https://s3.amazonaws.com/gametiks/images/#{harvest.animal_type}_black.png") %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  var userId = gon.userId;

  $(document).ready(function() {

    // auto load windows
    $('#map-tab').click(function(){
      $("#user-map-container").css("left", "0");
      $("#tiks-container").css("left", "100%");
      $("#badges-container").css("left", "200%");
    });

    $("#tiks-tab").click(function(){
      $("#user-map-container").css("left", "-100%");
      $("#tiks-container").css("left", "0");
      $("#badges-container").css("left", "100%");
    });

    $("#badges-tab").click(function(){
      $("#user-map-container").css("left", "-200%");
      $("#tiks-container").css("left", "-100%");
      $("#badges-container").css("left", "0");
    })

    var avatarForm = document.getElementById(`edit_user_${userId}`);

    $(avatarForm).change(function() {
      $(avatarForm).submit();
    });

    $(avatarForm).submit(function(event){
      alert('submitted');
      event.preventDefault();
      $.ajax({
        url: $(this).attr('action'),
        data: $(this).serialize(),
        type: "POST",
        dataType: 'script'
      });
    });



    // $(avatarForm).on("submit", function(event) {
    //   event.preventDefault();
    //   $.ajax({
    //     url: $(this).attr('action'),
    //     data: $(this).serialize(),
    //     type: "POST"
    //   });
    // });
  });

</script>


          <h4>

          </h4>
      </section>
      <section>
        <div class="badges"><h3>BADGES</h3>
            <% @user.clear_all_badges %>
          <ul><% @user.load_badges %>
              <% @user.badges.each do |badge| %>
              <li><%= image_tag badge.image %></li>
              <% end %>
          </ul>
        </div>
      </section>
    </aside>
    <br>

  </div>
