
<div id='side-panel'>
  <%= render partial: "contacts" %>
</div>

<div class='container-fluid background-main'>
  <div class="row">
      <div class='user-plate-container col-xs-12'>
        <%= render partial: "flashbox" %>
        <%= render partial: "user_plate" %>
      </div>
  </div>
  <div class='row'>
    <%= render partial: "user_nav" %>
  </div>
  <div class='row'>
    <%= render partial: "switchable_window" %>
  </div>
</div>
<%= render partial: "logbook" %>

<script>
  var userId = gon.userId;

  $(document).ready(function() {

    // auto load windows
    $('#map-tab').click(function(){
      $("#user-map-container-block").show();
      $("#tiks-container-block").hide();
      $("#badges-container-block").hide();
    });

    $("#tiks-tab").click(function(){
      $("#user-map-container-block").hide();
      $("#tiks-container-block").show();
      $("#badges-container-block").hide();
    });

    $("#badges-tab").click(function(){
      $("#user-map-container-block").hide();
      $("#tiks-container-block").hide();
      $("#badges-container-block").show();
    })

    var avatarForm = document.getElementById(`edit_user_${userId}`);

    $(avatarForm).change(function(){
      $("#avatar").append("<i class='fa fa-spinner fa-pulse fa-5x fa-fw middle-middle'></i>");
      $("#left-img-container").append("<i class='fa fa-spinner fa-pulse fa-4x fa-fw middle-middle'></i>");
      avatarForm.submit();
    });

    // display messages if any
    var innerHTML = $('#flashbox').html();
    var iconOnly = '<i class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i>';
    if ( innerHTML.trim() !== iconOnly ) {
      $( "#flashbox-container" ).animate({
        left: '+=255px'
      }, 100);
      setTimeout(retract, 4000);
    };

    function retract(){
      $( "#flashbox-container" ).animate({
        left: '-=255px'
      }, 100);
    };

    // toggle message box
    $('flashbox-label').click(function() {
      $('#flashbox-container').toggleClass('flashbox-active');
    });

    $('#flashbox-handle').click(function() {
      $('#flashbox-container').toggleClass('flashbox-active');
    });

    $('#contacts-handle').click(function() {
      $('#contacts-container').toggleClass('contacts-active');
    });

    $('#contacts-header').click(function() {
      $('#contacts-container').toggleClass('contacts-active');
    });

    $('.contact').hover(function() {
      $( this ).css('padding-left', '16px');
      $( this ).children(":first").css('opacity', 1);
    }, function() {
      $( this ).css('padding-left', '10px');
      $( this ).children(":first").css('opacity', 0);
    });
  });

</script>
