<div class="container-fluid background-main">
  <row>
    <div class='auth-form-container'>

      <div class='auth-form'>
        <div class='heading-container'>
          <div class='heading'>RESET PASSWORD</div>
        </div>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="actions">
            <%= f.submit "SUBMIT" %>
          </div>
        <% end %>

        <hr>
        <div class='links'>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </row>
</div>
