<div class='row'>
  <div id='compose-btn-container' class='col-xs-12'>
    <%= link_to "NEW MESSAGE", new_conversation_path, id: 'compose-btn', class: 'col-xs-10' %>
  </div>
</div>

<div class="row background-main">
  <div id='mailbox-nav-container' class='col-xs-12'>
    <div id='left'></div>
    <div id='mailbox-nav' class='col-xs-10 col-sm-8 col-md-6'>
      <nav id='mail-tabs' class='col-xs-9 col-sm-10 col-md-8 col-lg-6'>
        <ul class='col-xs-12'>
          <a id='inbox' href='/mailbox/inbox' class="<%= active_page(:inbox) %>">
              <span class="label label-danger pull-right"><%=unread_messages_count%></span>
              <em class="fa fa-inbox"></em>
              <span>INBOX</span>
              <div class='square'></div>
          </a>
          <a id='sent' href='/mailbox/sent' class="<%= active_page(:sent) %>">
              <em class="fa fa-paper-plane-o"></em>
              <span>SENT</span>
          </a>
          <a id='trash' href='/mailbox/trash' class="<%= active_page(:trash) %>">
            <em class="fa fa-trash-o"></em>
            <span>TRASH</span>
            <div class='square'></div>
          </a>
        </ul>
      </nav>
    </div>
    <div id='right'></div>
  </div>

  <div id='messages-container'>
    <div id='messages' class='col-lg-7 col-md-8 col-sm-10 col-xs-12'>
      <div class="message-list">
        <div class="panel-body">
          <% if is_conversation %>
              <%= render 'conversations/form' %>
          <% else %>
              <%= render partial: 'conversations/conversation', collection: messages %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
