<div class='row'>
  <div id='compose-btn-container'>
    <%= link_to "COMPOSE NEW", new_conversation_path, id: 'compose-btn' %>
  </div>
</div>

<div class="row background-main">
  <div id='mailbox-nav-container'>
    <div id='left'></div>
    <div id='mailbox-nav'>
      <nav id='mail-tabs'>
        <ul>
          <li id='inbox' class="<%= active_page(:inbox) %>">
            <%= link_to mailbox_inbox_path do  %>
                <span class="label label-danger pull-right"><%=unread_messages_count%></span>
                <em class="fa fa-inbox"></em>
                <span>INBOX</span>
                <div class='square'></div>
            <% end %>
          </li>
          <li id='sent' class="<%= active_page(:sent) %>">
            <%= link_to mailbox_sent_path do %>
                <em class="fa fa-paper-plane-o"></em>
                <span>SENT</span>
            <% end %>
          </li>
          <li id='trash' class="<%= active_page(:trash) %>">
            <%= link_to mailbox_trash_path do %>
            <em class="fa fa-trash-o"></em>
            <span>TRASH</span>
            <div class='square'></div>
            <% end %>
          </li>
        </ul>
      </nav>
    </div>
    <div id='right'></div>
  </div>

  <!-- <div class="col-md-12">
    <%#= link_to "Compose", new_conversation_path, class: "btn btn-success" %>
    <div class="spacer"></div>
  </div> -->

  <div id='messages-container'>
    <div id='messages' class='col-xl-6 col-lg-7 col-md-8 col-sm-10 col-12'>
      <div class="message-list">
        <div class="panel-body">
          <% if is_conversation %>
              <%= render 'conversations/form' %>
          <% else %>
              <%= render partial: 'conversations/conversation', collection: messages %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
