<div class='container-fluid background-harvest-form'>
  <row>
    <div class='harvest-form-container'>
      <div class='harvest-form col-lg-11 col-md-11 col-sm-11 col-12'>
          <%= form_for(@harvest) do |f| %>
            <%= render 'shared/flash_messages' unless flash.empty? %>
            <div class='col-lg-12 heading-container'>
              <div class='heading'>
                <% if params[:action] == 'edit' %>
                  EDIT HARVEST
                  <% else %>
                  NEW HARVEST
                <% end %>
              </div>
            </div>
              <div class="col-lg-12 section">
                <div id="tech-label"><h2>Game Type</h2></div>
                <div class="selectables">
                  <label>
                    <input type="radio" value="turkey" name="harvest[animal_type]" id="harvest_animal_type_turkey" />
                    <img src="https://s3.amazonaws.com/gametiks/images/turkey.png">
                  </label>
                  <label>
                    <input type="radio" value="deer" name="harvest[animal_type]" id="harvest_animal_type_deer" />
                    <img src="https://s3.amazonaws.com/gametiks/images/deer.png">
                  </label>
                  <label>
                    <input type="radio" value="moose" name="harvest[animal_type]" id="harvest_animal_type_moose" />
                    <img src="https://s3.amazonaws.com/gametiks/images/moose.png">
                  </label>
                  <label>
                    <input type="radio" value="bear" name="harvest[animal_type]" id="harvest_animal_type_bear" />
                    <img src="https://s3.amazonaws.com/gametiks/images/bear.png">
                  </label>
                  <label>
                    <input type="radio" value="canine" name="harvest[animal_type]" id="harvest_animal_type_canine" />
                    <img src="https://s3.amazonaws.com/gametiks/images/canine_white.png">
                  </label>
                  <label>
                    <input type="radio" value="water_fowl" name="harvest[animal_type]" id="harvest_animal_type_water_fowl" />
                    <img src="https://s3.amazonaws.com/gametiks/images/water_fowl_white.png">
                  </label>
                  <label>
                    <input type="radio" value="miscellaneous" name="harvest[animal_type]" id="harvest_animal_type_miscellaneous" />
                    <img src="https://s3.amazonaws.com/gametiks/images/question_mark.png">
                  </label>
                </div>
              </div>
              <div class="col-lg-12 section">
                <div id="tech-label"><h2>Weapon Type</h2></div>
                <div class="selectables">
                  <label>
                    <input type="radio" value="rifle" name="harvest[weapon_type]" id="harvest_weapon_type_rifle"/>
                    <img src="https://s3.amazonaws.com/gametiks/images/rifle.png">
                  </label>
                  <label>
                    <input type="radio" value="shotgun" name="harvest[weapon_type]" id="harvest_weapon_type_shotgun" />
                    <img src="https://s3.amazonaws.com/gametiks/images/shotgun.png">
                  </label>
                  <label>
                    <input type="radio" value="pistol" name="harvest[weapon_type]" id="harvest_weapon_type_pistol" />
                    <img src="https://s3.amazonaws.com/gametiks/images/pistol.png">
                  </label>
                  <label>
                    <input type="radio" value="bow" name="harvest[weapon_type]" id="harvest_weapon_type_bow" />
                    <img src="https://s3.amazonaws.com/gametiks/images/bow.png">
                  </label>
                </div>
              </div>
            <br>
              <div class="col-lg-6 col-md-12 col-sm-12 section defined-height" id="harvest_details">
                <div id="tech-label"><h2>Weight (lbs)</h2>
                </div>
                <%= f.label 'Weight', class: "sr-only" %><%= f.text_field :weight, class: 'form-control judes-addition' %>
                <br>
                <div id="tech-label"><h2>Details (optional)</h2>
                </div>
                <%= f.label 'Details (Optional)', class: "sr-only" %><%= f.text_area(:description, :maxlength => 500, rows: 6, class: 'form-control judes-addition') %>
                <div id="tech-label"><h2>Image Upload</h2>
                </div>
                <%= f.label :image, class: "sr-only" %>
                <%= f.file_field :image%>
                <br>
              </div>
              <br>
              <div class="col-lg-6 col-md-12 col-sm-12 section defined-height"> <div id="tech-label"><h2>Coordinates</h2>
                </div>
                <div id='new-harvest-map-container'>
                  <div id="new-harvest-map"><i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i></div>
                </div>
                <div id="lat-long-fields">
                 <%= f.number_field :latitude, id: :latitude, step: 'any' %>
                 <%= f.number_field :longitude, id: :longitude, step: 'any' %>
                 </div>
                 <br>
              </div>
              <br>
          <div class='col-lg-6 button-container'>
            <%= button_tag 'SUBMIT', class: 'btn btn-primary',
              data: { disable_with: "<i class='fa fa-refresh fa-spin'>
              </i> Submitting Changes..."} %>
          </div>

        <% end %>

        <script>
        var markers = [];
        var harvest = gon.harvest || false;
        var harvestLat = harvest.latitude || false;
        var harvestLng = harvest.longitude || false;
        var action = gon.action;

        var userLat;
        if (harvestLat) {
          userLat = parseFloat(harvestLat);
        } else {
          userLat = <%= current_user.latitude || 44 %>
        };

        var userLng;
        if (harvestLng) {
          userLng = parseFloat(harvestLng);
        } else {
          userLng = <%= current_user.longitude || -69 %>
        };

        // center map on (harvestLat, harvestLng) if action === 'edit'
        function initialize() {
          var map = new google.maps.Map(document.getElementById('new-harvest-map'), {
            zoom: 9,
            center: {lat: userLat, lng: userLng},
            mapTypeId: 'terrain',
            styles: [
                    {
                      featureType: 'landscape',
                      stylers: [
                        { saturation: -50 }
                      ]
                    },{
                      featureType: 'water',
                      stylers: [
                        { hue: '#174a67' },
                        { saturation: 50 },
                        { lightness: -80 }
                      ]
                    },{
                      featureType: 'road',
                      elementType: 'geometry',
                      stylers: [
                        { hue: '#00ffee' },
                        { saturation: 50 }
                      ]
                    },{
                      featureType: 'poi',
                      elementType: 'labels',
                      stylers: [
                        { visibility: 'off' }
                      ]
                    }
            ]
          });

          // drop marker at user location
          var userLocation = {lat: userLat, lng: userLng};
          addMarker(userLocation, map);

          // on click, replace marker with new location
          google.maps.event.addListener(map, 'click', function(event) {
            addMarker(event.latLng, map);
            map.panTo(event.latLng);
            var latitude = event.latLng.lat().toFixed(6);
        		var longitude = event.latLng.lng().toFixed(6);
        		document.getElementById("latitude").value = latitude;
        		document.getElementById("longitude").value = longitude;
          });
        } // end initialize

        function addMarker(location, map) {
          for (var i = 0; i < markers.length; i++) {
              markers[i].setMap(null);
          };

          markers = [];
          var marker = new google.maps.Marker({
            position: location,
            draggable: true,
            map: map
          });

          // update marker on drag
          google.maps.event.addListener(marker, 'dragend', function(event) {
            var latitude = event.latLng.lat().toFixed(6);
        		var longitude = event.latLng.lng().toFixed(6);
        		document.getElementById("latitude").value = latitude;
        		document.getElementById("longitude").value = longitude;
          });

          markers.push(marker);
        };

          function getUserCoordinates() {
            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(setCoords, displayError, { enableHighAccuracy: true });
            };
          };

          function displayError(error) {

          }

          function setCoords(position) {
            lat = position.coords.latitude;
            lng = position.coords.longitude;
            updateUserCoords(lat, lng);
            document.getElementById("latitude").value = lat.toFixed(6);
            document.getElementById("longitude").value = lng.toFixed(6);
            initialize();
          };

          function updateUserCoords(lat, lng) {
            $.ajax({
              type: 'PATCH',
              url: '/users/:id',
              data: {'user[latitude]': lat, 'user[longitude]': lng}
            });
          };

          function initMap() {
            if (action === 'new') {
              getUserCoordinates();
            } else {
              document.getElementById("latitude").value = userLat;
              document.getElementById("longitude").value = userLng;
              initialize();
            };
          };2

        </script>
        <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwtrmNvPxpJU6tbz577Ll--lDxDiDLGVg&callback=initMap">
        </script>
      </div>
    </div>
  </row>
</div>
