<div class='container-fluid background-main'>
  <div class='row'>
    <div class='auth-form-container'>

      <div class='auth-form'>
        <div class='heading-container'>
          <div class='heading'>LOG IN</div>
        </div>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me, checked: true %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "SUBMIT" %>
          </div>
        <% end %>

        <hr>
        <a class='gametiks-gradient-cool' id='facebook-login' href='/users/auth/facebook'>
          CONTINUE WITH FACEBOOK
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </a>
        <div class='links'>
          <%= render "devise/shared/links" %>
        </div>

      </div>
    </div>
  </div>
</div>
