<nav class="navbar navbar-inverse header-main">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href='/' class='navbar-brand' id='logo'>
        <img id='gt-icon' src='https://d2m6u6shu0evoe.cloudfront.net/images/gametiks_icon_gray.png' />
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class='bordered'>
          <a href='/users' class='chunky-button'>
            Leaderboard <i class="fa fa-list-ul" aria-hidden="true"></i>
          </a>
        </li>
        <li class='bordered'>
          <a href='/gallery' class='chunky-button'>
            Gallery <i class="fa fa-camera" aria-hidden="true"></i>
          </a>
        </li>
        <% if user_signed_in? %>
        <li id='search-container'>
          <%= form_tag(users_path, :method => "get", id: "search-form", remote: true) do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Members", autocomplete: "off" %>
          <% end %>
          <ul id='search-results'>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li>
          <ul id='icons'>
            <li id='mailbox'>
              <a href='/mailbox/inbox'>
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </a>
            </li>
            <li id='notifications'>
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            </li>
              <% if controller.controller_name == 'users' && controller.action_name == 'show' %>
                <li id='contacts'>
                  <i class="fa fa-user-circle" aria-hidden="true"></i>
                </li>
              <% end %>
          </ul>
        </li>
        <% end %>
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span><i class='fa fa-user'></i></span><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a href="/users/<%= current_user.id %>" title="Profile">Profile</a>
            </li>
            <li>
              <%= link_to "Settings", edit_user_registration_path %>
            </li>
            <li>
              <%= link_to "Logout", destroy_user_session_url, method: :delete %>
            </li>
          </ul>
        </li>
        <% else %>
          <li class='bordered'>
            <%= link_to "Login", new_user_session_url %>
          </li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>



<script>
  $(document).ready(function() {
    $('#search').bind('keyup', function() {
      $('#search-form').delay(200).submit();
    });

    $('#search-form').submit(function(event) {
      event.preventDefault();
    });

    $('#notifications').click(function() {
      $('#notifications-container').toggle();
      $(this).removeClass('pulse');
      var notifications = [];
      $('.notification-item').each(function() {
        notifications.push(this.id);
      });

      var isVisible = $('#notifications-container').is(':visible');
      if (isVisible) {
        $('#notifications > i').css('color', 'white');
      } else {
        $('#notifications > i').css('color', '');
      }

      $.ajax({
        url: '/mark_read',
        type: 'POST',
        dataType: 'script',
        data: {notifications: notifications}
      }).done(function() {
          if (notifications.length === 1) {
            $('#empty').show();
          }
        });

      }); // end click function

      $('#logo').hover(function() {
        $('#gt-icon').attr('src', 'https://d2m6u6shu0evoe.cloudfront.net/images/gametiks_icon_square.png');
      }, function() {
        $('#gt-icon').attr('src', 'https://d2m6u6shu0evoe.cloudfront.net/images/gametiks_icon_gray.png');
      });
    });
</script>
