<header class='container-fluid header-main'>
  <row>
    <div class="navbar navbar-inverse limit-width">
        <%= link_to "gametiks", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li id='leaderboard'>
              <a href='/users'>
                Leaderboard <i class="fa fa-list-ul" aria-hidden="true"></i>
              </a>
            </li>
            <% if user_signed_in? %>
              <% if controller.controller_name == 'users' && controller.action_name == 'show' %>
                <li id='contacts'>
                  Contacts <i class="fa fa-user-circle" aria-hidden="true"></i>
                </li>
              <% end %>
              <li id='mailbox'>
                <a href='/mailbox/inbox'>
                  Mailbox <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
              </li>
              <li id="profile">
                <a href='/users/<%= current_user.id %>'>Profile <i class="fa fa-user" aria-hidden="true"></i></a>
              </li>
              <li id="logout">
                <%= link_to "Log Out", destroy_user_session_url, method: :delete %>
              </li>
              <li id='settings'>
                <a href='/users/<%= current_user.id %>/edit'><i class='fa fa-cog fa-lg' aria-hidden='true'></i></a>
              </li>

            <% else %>
              <li id="login"><%= link_to "Log In", new_user_session_url %></li>
            <% end %>
          </ul>
        </nav>
    </div>
  </row>
</header>
