<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag %>

    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                         'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JavaScript for Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"></script>

    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>

  </head>

  <body>
    <%= include_gon %>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>

  <script>
    $(document).ready(function() {
      $('li#contacts').click(function() {
        $('#contacts-container').toggleClass('contacts-active')
      })
    });
  </script>

</html>
